.footer {
    background-color: #191c1f; 
    padding: 1rem;
    text-align: center;
    
    &__social-icons {
        margin-bottom: 1rem;
        
        .footer__social-icon-link {
            width: 40px; 
            height: auto;
            margin-right: 0.5rem; 
        }
    }
    
    &__copyright {
        color: white;
    }
}

.footer__social-icons a {
    text-decoration: none; 
    outline: none;
}